#landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns children to the start of the container */
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  background-image: url("/assets/rynek_pierwotny.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#o-nas {
  padding-inline: var(--spacing-lg);
  padding-block: var(--spacing-xl);
  max-width: var(--min-screen-desktop-lg);
  margin-inline: auto;
}
.team-members{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.centered-button {
  justify-content: center;
  justify-items: center;
  display: flex;
  background-color: var(--main-white);
  padding-bottom: 20px;
}
.rectangle-button {
  justify-content: center;
  justify-items: center;
  background-color: #c89f77;
  color: #131314;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}
.button-link {
  text-decoration: none;
  color: #131314;
}

.logo {
  cursor: pointer;
  transition: 0.3s ease-out;
  position: fixed;
  top: 78px;
  left: 5%;
}

.logo:hover {
  transform: translateY(-5px);
}
.logo-clicked {
  animation: click-animation 0.5s ease-out;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.row {
  max-width: 33.33%;
  max-height: 33.33%;
  margin: 20px;
}

.card-image {
  display: flex;
  flex-direction: column;
  /* border: #707070 1px solid; */
  margin: 10px;
}
.image {
  max-width: 20em;
  max-height: 20em;
}
.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  color: var(--main-white);
  background-color: #131314;
  width: 100%;
  padding: 5%;
  height: fit-content;
}
.card-content {
  display: flex;
  align-items: flex-end;
  font-weight: 100;
  flex-wrap: wrap;
  color: #131314;
  width: 100%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .nav-content a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    float: right;
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 30px;
    z-index: 10;
  }
}

@media screen and (min-width: 800px) {
  #o-nas {
    text-align: center;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  #landing {
    height: auto; /* Adjust height for mobile view */
    padding: 20px; /* Add padding for better spacing */
  }

  .landing-text {
    width: 100%; /* Make the text container full width */
    padding: 10px; /* Add padding for better readability */
  }

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    text-align: center;
  }

  .row {
    max-width: 100%;
    max-height: 50%;
  }
}
