#landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  color: var(--main-white);
  text-align: center;
  background-image: url("/assets/ali-moradi-Erg07pIM_ac-unsplas.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#privacy-policy {
  background-color: var(--main-white);
}



.privacy-container {
  max-width: var(--max-screen-desktop-s);
  margin-inline: auto;
  padding: var(--spacing-xl) var(--spacing-lg);
}

.privacy-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  color: #131314;
}

.privacy-date {
  font-weight: 500;
  margin-bottom: var(--spacing-sm);
}

.policy-section h3 {
  margin-bottom: var(--spacing-md);
  line-height: 1.4;
  font-size: 1.8rem;
}

.policy-section p {
  margin-bottom: var(--spacing-md);
}

.policy-section ul {
  padding-left: var(--spacing-xl);
  margin-bottom: var(--spacing-md);
}

.policy-section li {
  margin-bottom: var(--spacing-sm);
  line-height: 1.8;
}

.privacy-link {
  color: #131314;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  #landing {
    height: 50vh;
  }

  .privacy-container {
    padding: var(--spacing-lg) var(--spacing-lg);
  }

  .policy-section h3 {
    font-size: 1.5rem;
  }
}